* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
body {
    background-color: #F8FAFC;
    color: #1E293B;
        margin: 0 30px;
}
.container {
    /* width: 1100px; */
    margin: 0 80x;
    padding: 0 20px;

}
/* Hero Section */
.hero {
    padding: 60px 0;
    /* background-color: #F1F5F9; */
    background: #ebf4ff;
    margin: 0 50px;
}
.hero-content {
    display:inline-block;
    align-items: center;
}
.hero-text {
display: inline-block;
}
.hero-image {
display: inline-block;

}
.hero-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.hero-subtitle {
    color: #64748B;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.cta-button {
    display: inline-block;
    background-color: #6366F1;
    color: white;
    padding: 0.875rem 1.75rem;
    font-weight: 500;
    text-decoration: none;
}
/* Stats Section */
.stats {
    padding: 3.4rem 0;
    text-align: center;

}
.stats-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.stats-description {
    color: #64748B;
    max-width: 600px;
    margin: 0 auto 3rem auto;
}
.stats-grid {
    display: inline-block;
    
    margin-top: 60px;
}
.stat-item {
    padding: 1.5rem;
}
.stat-number {
    font-size: 2.5rem;
    font-weight: 700;
    color: #6366F1;
    margin-bottom: 0.5rem;
}
.stat-label {
    color: #64748B;
    font-size: 1.125rem;
}
/* Features Section */
.features {
    padding: 4rem 0;
    background: #ebf4ff;
    margin: 0 50px;
}
.features-header {
    text-align: center;
    margin-bottom: 4rem;
}
.features-label {
    color: #6366F1;
    font-weight: 500;
    margin-bottom: 1rem;
}
.features-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color:  black;
    display: inline-block;
}
.features-description {
    color: #64748B;
    max-width: 600px;
    margin: 0 auto;
}
.feature-boxes {
    display:inline-block;
    justify-content: space-around;
    margin-top: 20px;
}
.feature-box {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    text-align: left;
    border-radius: 10px;
    margin:10px;
    display:inline-block;
}
.feature-box p {
    color: #897676;
    display: inline-block;
}
.feature-box h4 {
    margin-bottom: 10px;
    display:inline-block;

}
.feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-description {
    color: #64748B;
    font-size: 0.875rem;
}









